* {
    font-family: Roboto;
    margin: 0;
}

.first, .header {
    background-color: #1f2937;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
}

.first.title {
    font-size: 32px;
    font-weight: 900;
    color: #F9FAF8;
}

.first.paragraph, .header-link{
    font-size: 18px;
    color: #E5E7EB;
}

.cat-logo-header {
    height: 80px;
    width: 80px;
    background-color: #E5E7EB;
    border-radius: 40px;
    margin: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 64px;
}

.header-spacer {
    flex: auto;
    width: 1000px;
}

.header-link-list {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    list-style: none;
    gap: 12px;
}

li {
    width: fit-content;
}

.body-block {
    height: 500px;
}

.first-block-cat {
    height: 300px;
    width: 500px;
    background-color: #E5E7EB;
    border: #3882F6 solid 2px;
    border-radius: 6px;
}

.body-block.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-first {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.awesome-text {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: baseline;
}

.first.button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px;
    width: 80px;
    height: 18px;
    text-align: center;
    border-radius: 25px;
}

.body-block.second {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.second-title {
    text-align: center;
}

.flex-image-list {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.image-box > img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 16px;
}

.image-box > p {
    width: 150px;
    text-align: center;
}

.body-block.third {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.thor-text {
    font-size: 28px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

.third.text-container {
    width: 900px;
}

.thor-sign {
    text-align: right;
    font-weight: bolder;
}

.body-block.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    width: 1000px;
    height: 150px;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 32px;
}

.call-to-action-button {
    border: 2px solid #F9FAF8;
    padding: 12px;
    width: 100px;
    text-align: center;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
}